/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
}

mat-progress-spinner[hidden] {
  display: none;
}

html {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  overflow: auto;
}

.mat-progress-bar {
  opacity: 0.0;
}

.mat-progress-bar.show {
  opacity: 1.0;
}

.mat-card[hidden] {
  display: none;
}